
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}


#canvas {
  position: absolute;
  left: 0px;
  top: 50px;
  margin: 20px;
  background: #ffffff;
  border: thin solid #aaaaaa;
}

#readout {
  margin-top: 10px;
  margin-left: 15px;
  color: blue;
  }

